@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: outfit;
    
}
body{
    background-color: whitesmoke;
}

.vertical-line {
    border-left: 1px solid black; /* Change color and thickness as needed */
    height: 30px; /* Adjust height as needed */
    margin: 0 16px; /* Adjust spacing as needed */
  }
